.home{
    height: 89.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(125deg, #A6D6D6, #867AE9);
    color: #eee;
    text-align: center;
    transition: 0.3s ease all;
}
.home.dark{
    background: linear-gradient( rgb(129, 129, 129), #333);
    color: #FFF5AB;
}
.home.purple{
    background: linear-gradient( #D9D7F1, #54BAB9);
    color: #F5E79D;
}