.navbar{
    height: 75px;
    background: rgb(252, 252, 252);
    color: #333;
    transition: 0.3s ease all;
}
.navbar.dark{
    background: #333;
    color: #FFF5AB;
}
.navbar.purple{
    background: #BAABDA;
    color: #FAF3F3;
}

.navbar-ul{
    display: flex;
    width: 260px;
    justify-content: space-between;
    list-style: none;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
.link.dark{
    color: #FFF5AB;
}
.link.purple{
    color: #FAF3F3;
}


.search-input{
    padding: 10px 10px; 
    outline: 0;
}

.search-btn{
    color: #efe;
    background: rgb(109, 189, 255);
    border: 0;
    padding: 10px 10px; 
}
.search-btn.dark{
    background: #f0c363;
}
.search-btn.purple{
    background: #219897;
}

.toggle{
    background: #54A4AF;
    color: rgb(250, 253, 250);
    padding: 10px 20px;
    border-radius: 3px;
    border: 0;
}
.toggle.dark{
    background:#D89216 ;
    color: #eee;
}
.toggle.purple{
    background: #6A097D;
    color: #eee;
}